body {
  font-family: sans-serif;
}

.block {
  background-color: aliceblue;
  border-radius: 5px;
  margin: 1rem;
  box-shadow: 0 0 5px grey;
}

.main {
  max-width: 500px;
  margin: 2rem auto;
}

.header {
  text-align: center;
  padding: .5rem;
}

var {
  font-size: small;
}

.inputs div {
  padding: 1rem;
}

.centerButton {
  display: block;
  margin: auto;
}

.result {
  padding: 1rem;
}

.resultContent {
  height: 100px;
}

footer {
  text-align: center;
  padding: 1rem;
}